abrt
Code
dconf
dleyna-renderer-service.conf
enchant
eog
evolution
gh
gnome-boxes
gnome-initial-setup-done
gnome-session
goa-1.0
.gsd-keyboard.settings-ported
gtk-3.0
gtk-4.0
ibus
libreoffice
nautilus
pulse
user-dirs.dirs
user-dirs.locale
zoom*
cef_user_data
'Unkown Organization'
